<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.newcomers.prj.member.mapper.MemberMapper">
	<select id="memberList"
		resultType="co.newcomers.prj.member.vo.MemberVO">
		SELECT * FROM MEMBER
	</select>

	<select id="memberSelect"
		resultType="co.newcomers.prj.member.vo.MemberVO">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>

	<select id="memberSelect2"
		resultType="co.newcomers.prj.member.vo.MemberVO">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>

	<select id="memberSelectEmail"
		resultType="co.newcomers.prj.member.vo.MemberVO"
		parameterType="co.newcomers.prj.member.vo.MemberVO">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>

	<insert id="memberInsert">
		INSERT INTO MEMBER (ID, PASSWORD, NICKNAME, EMAIL,
		NAME, ADDRESS )
		VALUES (#{id}, #{password}, #{nickname}, #{email},
		#{name}, #{address} )
	</insert>

	<insert id="memberApplySeller">
		
		INSERT INTO SELLERAPPLICATION
		SELECT #{ID }, SYSDATE, #{EMAIL }, #{ADDRESS }
		FROM DUAL WHERE NOT EXISTS(SELECT ID FROM SELLERAPPLICATION WHERE ID =
		#{ID })
	</insert>

	<delete id="memberDelete">
		DELETE FROM MEMBER WHERE ID = #{id}
	</delete>

	<update id="memberUpdate">
		UPDATE MEMBER
		SET PASSWORD = #{password},
		NICKNAME = #{nickname},
		EMAIL = #{email},
		NAME = #{name},
		GRADE = #{grade}
		WHERE ID = #{id}
	</update>

	<update id="memberPasswordUpdate">
		UPDATE MEMBER
		SET PASSWORD =
		#{password}
		WHERE EMAIL = #{email}
	</update>

	<select id="memberLogin"
		resultType="co.newcomers.prj.member.vo.MemberVO">
		SELECT * FROM MEMBER
		WHERE ID = #{id} AND PASSWORD =
		#{password}
	</select>

	<select id="isMemberIdCheck" resultType="boolean">
		SELECT CASE WHEN
		COUNT(ID) = 1 THEN 0 ELSE 1 END AS ID
		FROM MEMBER WHERE ID = #{id}
	</select>

	<update id="isApplyCheck">
		UPDATE MEMBER
		SET GRADE = 'seller'
		WHERE ID = #{id}
	</update>
</mapper>